<div class="formContainerBookmark">

<%= form_for(@bookmark) do |fieldBookmark| %>

  <div class="field">
    <%= fieldBookmark.label :name, "name", :class => "fieldLabelShort" %>
    <%= fieldBookmark.text_field :name %><br /><br />
  </div>
  <div class="field">
    <%= fieldBookmark.label :url, "url" ,:class => "fieldLabelShort" %>
    <%= fieldBookmark.text_field :url %><br /><br />
  </div>
  <div class="field">
      <%= fieldBookmark.hidden_field :date_saved, :value=>DateTime.now %>
  </div>
  <div class="actions">
    <%= fieldBookmark.submit "add bookmark", :class => "formSubmissionButtons" %><br /><br />
  </div>
  
 <%= render 'shared/errorBookmark_messages', :object => fieldBookmark.object %>
  
<% end %>

</div>
