<%

  if /^http/i.match(@bookmark.url)
       aUrl = @bookmark.url
  else
       aUrl = "http://#{@bookmark.url}"
  end
  
%>

<table cellspacing="0px" cellpadding="0px">
  <tr>
    <td valign="top">
       <div class="indexBookmarkContainer">
         
           <div class="indexBookmark">
              
               <div class="indexBookmarkData">
           
                     <div id="showBookmarkTitleContainer">
                         <div class="indexBookmarkTitle">
                           <h3 class="bookmarkTitle">
                             <%= @bookmark.name %>
                           </h3>
                         </div>
                     </div>
                           
                     <div class="indexBookmarkUrl">
                       <%= link_to (@bookmark.url), aUrl, :target => '_blank' %><br /><br />
                     </div>
                     
                     <div class="indexBookmarkLikeCount">(liked by
                              <%= pluralize(@bookmarkCount, "user") %>)
                     </div>
                 
                </div>
           </div>
       </div>
       
       <div id="showBookmarksCancel">
              <br />
              <%= link_to '< all bookmarks', bookmarks_path %>
       </div>   
       
   </td>
   <td valign="top">
       <div id="userLikeContainer">
            <h3>liked by <%= pluralize(@bookmarkCount, "user") %>...</h3>
            <ul>
              <% @allBookmarkUsers.each do |user| %>
                   <li><%= user.full_name %></li>
              <% end %>
            </ul>
       </div>
  </td>
  </tr>
</table>