<h1>All Bookmarks</h1>

<table width="100%">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Date Saved</th>
    <th>&nbsp;</th>
  </tr>


<% @bookmarks.each do |bookmark| %>
  <tr>
    
    <% 
      if bookmark.date_saved != nil
        date_exists = true
      else
        date_exists = false
      end
    %>
    
    <% if /^http/.match(bookmark.url)
       aUrl = bookmark.url
      else
        aUrl = "http://#{bookmark.url}"
      end
    %>
  
  
    
    <td><%= bookmark.name %></td>
    <td><%= link_to (aUrl), aUrl, :target => '_blank' %></td>
    <td><%= if date_exists
          bookmark.date_saved.strftime("%m/%d/%Y")
        else
          "unknown"
        end %></td>
    <td><%= link_to 'Show', bookmark %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
