<p id="notice"><%= notice %></p>

<% if /^http/.match(@bookmark.url)
       aUrl = @bookmark.url
  else
      aUrl = "http://#{@bookmark.url}"
  end
  
  if @bookmark.date_saved != nil
        date_exists = true
  else
        date_exists = false
  end
%>

<h1><%= @bookmark.name %></h1>

<div id="showBookmarkContainer">
  
  <div id="showBookmarkData">
    <p>URL:  <%= link_to (aUrl), aUrl, :target => '_blank' %></p>
    
    <p>Date Saved:
        <%= if date_exists
          @bookmark.date_saved.strftime("%m/%d/%Y")
        else
          "unknown"
        end %>
    </p>
  </div>
</div>

<br />

<!--
<p>
  <b>URL:</b>
  <% if /^http/.match(@bookmark.url)
       aUrl = @bookmark.url
  else
      aUrl = "http://#{@bookmark.url}"
  end
  %>
  
  <%= link_to (aUrl), aUrl, :target => '_blank' %>
</p>

<p>
  <b>Date Saved:</b>
  <%  if @bookmark.date_saved != nil
        date_exists = true
      else
        date_exists = false
      end
  %>
  <%= if date_exists
        @bookmark.date_saved.strftime("%m/%d/%Y")
      else
        "unknown"
      end %>
</p>
-->

<%= link_to 'Back', bookmarks_path %>
