<h2>sign in</h2>

<div class="formContainerSignIn">
  <div class="forms">
    <%= form_for(:session, :url => sessions_path) do |f| %>
    
      <div class="field">
        <%= f.label :username, "username", :class => "fieldLabel" %>
        <%= f.text_field :username %><br /><br />
      </div>
      <div class="field">
        <%= f.label :password, "password" , :class => "fieldLabel" %>
        <%= f.password_field :password %><br /><br />
      </div>
      <div class="actions">
        <%= f.submit "sign in", :class => "formSubmissionButtons" %>
        <br /><br />
      </div>
    <% end %>
  </div>
  <br />
</div>

<div>new user? <%= link_to "sign up now", signup_path %></div>

<br /><br />
