<div class="formContainerProfile">

  <%= form_for :user, @user, :url => { :action => "update_password" } do |f| %>
      
    <div class="field">
      <%= f.label :password, "new password" ,:class => "fieldLabel" %><br />
      <%= f.password_field :password %><br /><br />
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation, "confirm password", :class => "fieldLabel" %><br />
      <%= f.password_field :password_confirmation, :value => "" %><br /><br />
    </div>
        
    <div class="actions">
      <%= f.submit "update password", :class => "formSubmissionButtons" %>
      <br /><br />
    </div>
    
    <%= render 'shared/errorUser_messages', :object => f.object %>
  
  <% end %>

</div>
