<div class="formContainerSignup">

<%= form_for(@user) do |f| %>

  <%= render :partial => 'shared/profile_fields', :locals => { :f => f }  %>
  
  <div class="field">
      <%= f.label :password, "password" ,:class => "fieldLabel" %>
      <%= f.password_field :password %><br /><br />
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "confirm password", :class => "fieldLabel" %>
    <%= f.password_field :password_confirmation, :value => "" %><br /><br />
  </div>
  
  <div class="actions">
    <%= f.submit "register", :class => "formSubmissionButtons" %>
    <br /><br />
  </div>
  
  <%= render 'shared/errorUser_messages', :object => f.object %>

<% end %>

</div>
