<h2>profile</h2>

<div>
  <span class="fieldLabelShort">username:</span>
  <%= @user.username %>
</div>

<div>
   <span class="fieldLabelShort">full name:</span>
  <%= @user.full_name %>
</div>

<div>
  <span class="fieldLabelShort">email:</span>
  <%= @user.email %>
</div>

<% if current_user?(@user) %>
  <div>
    <br />
    <%= link_to 'update profile', edit_user_path(@user) %>
    &nbsp; | &nbsp;
    <%= link_to 'update password', credentials_path %>
    <br /><br />
  </div>
<% end %>
