  <div class="field">
    <%= f.label :username, :class => "fieldLabel" %>
    <%= f.text_field :username %><br />
  </div>
    
  <div class="field">
    <%= f.label :full_name, :class => "fieldLabel" %>
    <%= f.text_field :full_name %><br />
  </div>
  
  <div class="field">
    <%= f.label :email, :class => "fieldLabel" %>
    <%= f.text_field :email %><br />
  </div>
  <div class="field">
    <%= f.label :password, :class => "fieldLabel" %>
    <%= f.password_field :password %><br />
  </div>