<header>
    <div id="header">
        
        <div id="logo">
            <h1>
            <% if signed_in? %>
                <%= link_to "pal.atab.le", allBookmarks_path, :id => "logoName" %>
            <% else %>
                <%= link_to "pal.atab.le", root_path, :id => "logoName" %>
            <% end %>
            </h1>
    
            <h4>have fun sharing</h4>
        </div>
        
        <div id="headerMenu">
            <% if signed_in? %>
                <%= render 'layouts/headerTopContainerSignedIn' %>
            <% else %>
                <%= render 'layouts/headerTopContainer' %>
            <% end %>
            
            <div id="menulinks">
                <% if signed_in? %>
                    <%= render 'layouts/navigationSignedIn' %>
                <% else %>
                    <%= render 'layouts/navigation' %>
                <% end %>
            </div>
        </div>
  </div>

  <div id="mainimg">&nbsp;</div>
</header>