<header>
    <div id="header">
        
        <div id="logo">
            <h1><%= link_to "pal.atab.le", root_path, :id => "logoName" %></h1>
            <h4>have fun sharing</h4>
        </div>
        
        <% if signed_in? %>
            <%= render 'layouts/headerTopContainerSignedIn' %>
        <% else %>
            <%= render 'layouts/headerTopContainer' %>
        <% end %>
        
        <div id="menulinks">
            <% if signed_in? %>
                <%= render 'layouts/navigationSignedIn' %>
            <% else %>
                <%= render 'layouts/navigation' %>
            <% end %>
        </div>
  </div>

  <div id="mainimg">&nbsp;</div>
</header>