<navigation>
     <div id="menulinks">
          <ul>                  
                <% if signed_in? %>
                <li><%= link_to "sign out", signout_path, :method => :delete %></li>
                <% else %>
                <li><%= link_to "sign in", signin_path %></li>
                <% end %>
        
                <li><%= link_to "help", "#" %></li>

                <% if signed_in? %>
                <li><%= link_to "profile", current_user %></li>
                <% end %>
        
                <% if signed_in? %>
                <li><%= link_to "home", allBookmarks_path %></li>
                <% end %>

           </ul>
     </div>
</navigation>
